* {
    box-sizing: border-box;
}

body {
    font-family: 'Nunito', sans-serif;
    color: #333;
    background-color: grey;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}



.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(115, 103, 128);
    /*background-repeat: no-repeat;
    background-position: center;
    background-size: cover;*/
    max-width: 600px;
    min-height: 700px;
    border-radius: 28px;
    box-shadow: 1px 1px 1px 1px black;
    position: relative;

}

.button {

    height: 90px;
    width: 124px;
    font-size: 37px;
    font-weight: 900;
    border-radius: 12px;
    box-shadow: 1px 1px 1px 1px black;
    margin: 10px;
}


#delete {
    height: 90px;
    width: 50px;
    font-size: 23px;
}

#deleteNumber {
    height: 90px;
    width: 50px;
    font-size: 20px;
}



#gleich {
    background-color: rgb(221, 218, 12);
}

.display {

    /*position: absolute;*/
    background-color: rgb(110, 133, 125);
    height: 106px;
    width: 526px;
    font-size: 75px;
    font-weight: 900;
    border-radius: 12px;
    text-align-last: right;
    margin: 10px;
}

.active {
    background: red;
}

/*Responsive Design*/

/*Display: Handy L 425px*/
/*Display: Handy M 375px x 984px*/
/*Display: Handy S 320px*/

@media screen and (max-width:1024px) {


    .container {
        max-width: 515px;
    }

    .display {
        width: 490px;
        font-size: 70px;
    }

    .button {
        margin: 5px;
        width: 113px;
    }
}


@media screen and (max-width:425px) {
    .container {
        min-width: 350px;
        min-height: 580px;
        border-radius: 28px;
        box-shadow: 1px 1px 1px 1px black;
        position: relative;
    }

    .display {
        top: 53px;
        left: 121px;
        height: 80px;
        width: 334px;
        font-size: 48px;

    }

    .button {

        height: 75px;
        width: 80px;
        font-size: 24px;
        font-weight: 900;
        border-radius: 12px;
        box-shadow: 1px 1px 1px 1px black;
        margin: 5px;
    }

}


@media screen and (max-width:375px) {
    .display {
        width: 330px;
    }

    .button {
        width: 75px;
        font-size: 23px;
    }

}

@media screen and (max-width:320px) {

    .container {
        min-width: 320px;
        min-height: 520px;
        border-radius: 28px;
        box-shadow: 1px 1px 1px 1px black;
        position: relative;
    }

    .display {
        width: 292px;
        font-size: 42px;
    }

    .button {
        height: 65px;
        width: 70px;
        font-size: 20px;

    }


}